@model DayScheduleVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Update Day Program";
    bool pass = true;
}

<head>
    <title>@ViewData["Title"]</title>
    <link href="~/css/submissionForm.css" rel="stylesheet">
</head>

<body>
    <div class="col-md-5">
        <div class="text-center">
            <h1 class="display-5">Update The Program for @Model.Day</h1>
        </div>

        <form method="post" class="form-container">

            @for (int i = 0; i < 8; i++)
            {
                <div class="form-group mb-4">
                    <select class="form-control" asp-for="AltTopicIds[i]">
                        <option value="1" selected>--Select an alt topic--</option>
                        @foreach (var item in ViewBag.ActiveAltTopics)
                        {
                            pass = true;
                            foreach(var daySchedule in ViewBag.DaySchedules)
                            {
                                if (daySchedule.ClassHours[i].AltTopicId != 1 && daySchedule.ClassHours[i].AltTopic.TeacherId == item.TeacherId)
                                {
                                    pass = false;
                                    break;
                                }
                            }
                            if(pass == true)
                            {
                                <option value="@item.Id">@item.TopicCode</option>
                            }
                            else
                            {
                                <option value="@item.Id" disabled>@item.TopicCode</option>
                            }
                        }
                    </select>
                </div>
            }

            <div class="d-grid">
                <button type="submit" class="btn btn-submit">Update</button>
            </div>
        </form>
    </div>
</body>

