@model AltTopicVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Update AltTopic";
}

<head>
    <title>@ViewData["Title"]</title>
    <link href="~/css/submissionForm.css" rel="stylesheet">
</head>

<body>

    <div class="d-flex">

        <div class="col-md-3">
            <div class="text-center">
                <h1 class="display-5">Original</h1>
            </div>

            <form method="post" class="form-container">

                <div class="form-group mb-4">
                    <select class="form-control" disabled>
                        <option disabled selected>@ViewBag.MainTopic</option>
                    </select>
                </div>

                <div class="form-group mb-4">
                    <select class="form-control" disabled>
                        @if(ViewBag.TeacherName != null)
                        {
                            <option disabled selected>@ViewBag.TeacherName</option>
                        }
                        else
                        {
                            <option disabled selected>No teacher selected</option>
                        }
                    </select>
                </div>

            </form>
        </div>

        <div class="col-md-3" style="margin-left:10px;">
            <div class="text-center">
                <h1 class="display-5">Updated</h1>
            </div>

            <form method="post" class="form-container">

                <div class="form-group mb-4">
                    <select class="form-control" name="TeacherId" required>
                        <option value="">--Select a teacher--</option>
                        @foreach (var item in ViewBag.ActiveTeachers)
                        {
                            <option value="@item.Id">@item.FirstName @(" ") @item.LastName</option>
                        }
                    </select>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-submit">Update</button>
                </div>
            </form>
        </div>

    </div>

</body>
