@model Student
@{

}

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header text-white" style="background-color:purple">
            <h1 class="h3 mb-0"><strong>Student: @Model.FirstName @(" ") @Model.LastName</strong></h1>
        </div>

        <div class="card-body">
            <div class="mb-4">
                <h3 class="h5 text-secondary">School No:</h3>
                <p class="h4">@Model.SchoolNo</p>
            </div>

            <div class="mb-4">
                <h3 class="h5 text-secondary">Classroom:</h3>
                @if (Model.Classroom != null)
                {
                    <p class="h4"><a asp-area="Admin" asp-controller="Program" asp-action="Show" asp-route-id="@Model.ClassroomId">@Model.Classroom.Grade</a></p>
                }
                else
                {
                    <p>NONE</p>
                }

            </div>

            <div>
                <h3 class="h5 text-secondary">Gender:</h3>
                <p>@Model.Gender</p>
            </div>

            <div>
                <h3 class="h5 text-secondary">Email Address:</h3>
                <p>@Model.Email</p>
            </div>

            <div>
                <h3 class="h5 text-secondary">TCK:</h3>
                <p>@Model.TCK</p>
            </div>

            <div>
                <h3 class="h5 text-secondary">Finished School:</h3>
                <p>@Model.FinishedSchool</p>
            </div>

            <div>
                <h3 class="h5 text-secondary">Final Grade:</h3>
                <p>@Model.FinalGrade</p>
            </div>

            <div>
                <h3 class="h5 text-secondary">Guardian:</h3>
                @if (Model.Guardian != null)
                {
                    <p class="h4"><a asp-area="Admin" asp-controller="Guardian" asp-action="Details" asp-route-id="@Model.GuardianId">@Model.Guardian.FirstName @(" ") @Model.Guardian.LastName</a></p>
                }
                else
                {
                    <p>NONE</p>
                }

            </div>

            <div>
                <h3 class="h5 text-secondary">Grades:</h3>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="text-decoration-underline"><strong>Topic Code / Terms</strong></th>
                            <th>Midterm</th>
                            <th>Final</th>
                            <th>Performance</th>
                            <th class="text-decoration-underline"><strong>Score</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Grades != null)
                        {
                            foreach (var grade in Model.Grades)
                            {
                                <tr>
                                    <th><a asp-area="Admin" asp-controller="AltTopic" asp-action="Details" asp-route-id="@grade.AltTopicId"><strong>@grade.AltTopic.TopicCode</strong></a></th>
                                    <td>@grade.MidTermGrade</td>
                                    <td>@grade.FinalGrade</td>
                                    <td>@grade.PerformanceGrade</td>
                                    <td><strong>@grade.Score</strong></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="mx-auto">
                <a class="btn btn-primary" asp-area="Admin" asp-controller="Student" asp-action="PrintResult" asp-route-id="@Model.Id">Print</a>
            </div>
        </div>
    </div>
</div>
