@model List<Guardian>
@{
    int num = 1;
}

<div class="container mt-4">
    <div class="d-flex justify-content-between">
        <h2 class="mb-4">Passive Guardians List</h2>
        <div style=" margin-right:100px;">
            <form asp-area="Admin" asp-controller="Guardian" asp-action="RecoverAll" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to recover all passive guardians?');">
                <button type="submit" class="btn btn-primary">Recover All</button>
            </form>
            <form asp-area="Admin" asp-controller="Guardian" asp-action="DestroyAll" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to destroy all passive guardians?');">
                <button type="submit" class="btn btn-danger">Destroy All</button>
            </form>
        </div>
    </div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody style="background-color:bisque;">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@num</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                    <td>@item.PhoneNumber</td>
                    <td>
                        <form asp-area="Admin" asp-controller="Guardian" asp-action="Recover" asp-route-id="@item.Id" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to recover this guardian?');">
                            <button type="submit" class="btn btn-primary btn-sm">Recover</button>
                        </form>

                        <form asp-area="Admin" asp-controller="Guardian" asp-action="Destroy" asp-route-id="@item.Id" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to destroy this guardian?');">
                            <button type="submit" class="btn btn-danger btn-sm">Destroy</button>
                        </form>
                    </td>
                </tr>
                num++;
            }
        </tbody>
    </table>
</div>
