@model ClassroomVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Create Classroom";
}

<head>
    <title>@ViewData["Title"]</title>
    <link href="~/css/submissionForm.css" rel="stylesheet">
</head>

<body>
    <div class="d-flex">
        <div class="col-md-3 fixed">
            <div class="text-center">
                <h1 class="display-5">Create a Classroom</h1>
            </div>

            <form method="post" class="form-container">
                <div class="form-group mb-4">
                    <select asp-for="Grade" class="form-control">
                        @if (ViewBag.SelectedGrade == null)
                        {
                            <option value="" selected>--Select a grade--</option>
                        }
                        else
                        {
                            <option value="">--Select a grade--</option>
                            <option value="@ViewBag.SelectedGrade" selected>@ViewBag.SelectedGrade</option>
                        }

                        @foreach (var item in ViewBag.Grades)
                        {
                            <option value="@item">@item</option>
                        }
                        
                    </select>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-submit">Create</button>
                </div>
            </form>
        </div>
        <div class="col-md-5" style="margin-left:29%">
            <partial name="_PartialActiveClassroomList" model="ViewBag.ActiveClassrooms" />
        </div>
    </div>

</body>


