@model Student
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Result of Student";
}

<div>
    <div class="border-1">
        @if (ViewBag.YearScore > 70 && ViewBag.YearScore < 80)
        {
            <div>
                Tesekkur Belgesi
            </div>

            <div class="d-flex">

                <div>
                    <div>
                        Student: @Model.FirstName @(" ") @Model.LastName
                    </div>
                    <div>
                        TCK: @Model.TCK
                    </div>
                    <div>
                        School No: @Model.SchoolNo
                    </div>
                </div>

                <div>
                    Date: @ViewBag.Date
                </div>

            </div>

            <div>
                @Model.FirstName @(" ") @Model.LastName isimli ogrenci, @ViewBag.YearScore not ortalamasiyla bu belgeyi haketmistir.
            </div>
        }
        else if (ViewBag.YearScore > 80 && ViewBag.YearScore < 90)
        {
            <div>
                Takdir Belgesi
            </div>
            <div class="d-flex">

                <div>
                    <div>
                        Student: @Model.FirstName @(" ") @Model.LastName
                    </div>
                    <div>
                        TCK: @Model.TCK
                    </div>
                    <div>
                        School No: @Model.SchoolNo
                    </div>
                </div>

                <div>
                    Date: @ViewBag.Date
                </div>

            </div>

            <div>
                @Model.FirstName @(" ") @Model.LastName isimli ogrenci, @ViewBag.YearScore not ortalamasiyla bu belgeyi haketmistir.
            </div>
        }
        else if (ViewBag.YearScore > 90 && ViewBag.YearScore <= 100)
        {
            <div>
                Onur Belgesi
            </div>
            <div class="d-flex">

                <div>
                    <div>
                        Student: @Model.FirstName @(" ") @Model.LastName
                    </div>
                    <div>
                        TCK: @Model.TCK
                    </div>
                    <div>
                        School No: @Model.SchoolNo
                    </div>
                </div>

                <div>
                    Date: @ViewBag.Date
                </div>

            </div>

            <div>
                @Model.FirstName @(" ") @Model.LastName isimli ogrenci, @ViewBag.YearScore not ortalamasiyla bu belgeyi haketmistir.
            </div>
        }
        else
        {
            <div>

            </div>
        }
    </div>
    <div class="border-1">
        <div>
            <h1><strong>Karne</strong></h1>
        </div>
        <div>
            <h3 class="h5 text-secondary">Grades:</h3>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="text-decoration-underline"><strong>Topic Code / Terms</strong></th>
                        <th>Midterm</th>
                        <th>Final</th>
                        <th>Performance</th>
                        <th class="text-decoration-underline"><strong>Score</strong></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Grades != null)
                    {
                        foreach (var grade in Model.Grades)
                        {
                            <tr>
                                <th><a asp-area="Admin" asp-controller="AltTopic" asp-action="Details" asp-route-id="@grade.AltTopicId"><strong>@grade.AltTopic.TopicCode</strong></a></th>
                                <td>@grade.MidTermGrade</td>
                                <td>@grade.FinalGrade</td>
                                <td>@grade.PerformanceGrade</td>
                                <td><strong>@grade.Score</strong></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
