@model List<Student>
@{
    int num = 1;
}

<div class="container mt-4">
    <div class="d-flex justify-content-between">
        <h2 class="mb-4">Active Students List</h2>
        <div style=" margin-right:100px;">
            <form asp-area="Admin" asp-controller="Student" asp-action="DeleteAll" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete all active students?');">
                <button type="submit" class="btn btn-danger">Delete All</button>
            </form>
        </div>
    </div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th scope="col">School No.</th>
                <th scope="col">Class No.</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@num</td>
                    <td>@item.SchoolNo</td>
                    <td>
                        @if (item.Classroom != null)
                        {
                            <a asp-area="Admin" asp-controller="Program" asp-action="Show" asp-route-id="@item.ClassroomId">@item.Classroom.Grade</a>
                        }
                    </td>
                    <td><a asp-area="Admin" asp-controller="Student" asp-action="Details" asp-route-id="@item.Id">@item.FirstName</a></td>
                    <td><a asp-area="Admin" asp-controller="Student" asp-action="Details" asp-route-id="@item.Id">@item.LastName</a></td>
                    <td>@item.Gender</td>
                    <td>
                        <a class="btn btn-sm btn-warning" asp-area="Admin" asp-controller="Student" asp-action="Update" asp-route-id="@item.Id">Edit</a>

                        <form asp-area="Admin" asp-controller="Student" asp-action="Delete" asp-route-id="@item.Id" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this student?');">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
                num++;
            }
        </tbody>
    </table>
</div>
